/*=== variables ===*/
:root {
    --font-color-primary: white;
    --font-family-primary:'Montserrat', sans-serif;
    --font-family-secundary:'Hammersmith One', sans-serif;
    --color-primary: rgb(7, 1, 26);
    --color-secundary: white;
    --color-tertiary: rgb(1, 236, 185);
}
/*=== scrollbar style ===*/
*::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: var(--color-primary);
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
  }

/*=== geral config ===*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    scrollbar-width: thin; 
}
body{
    color: var(--font-color-primary);
    font-family: var(--font-family-primary);
    background-color: var(--color-primary);
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    position: absolute;
    z-index: 5;
    width: 97vw;
    height: 5vh;
    padding: 15px;
    backdrop-filter: blur(8px);
}

/*=== nav ===*/
.nav{
    display: flex;
    justify-content: space-around;
    color: var(--font-color-primary);
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-itens{
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
}
.iten{
    padding: 12px;
    border: solid 1px;
    border-radius: 15px;
    color: var(--font-color-primary)
}


/*=== intro home ===*/
.blur{
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    background-image: url(/contents/imgs/pattern_waves-4_0.5_8_0-0_30_1__ffffff_6e6e6e.png);
    opacity: 0.012;
    position: absolute;
    z-index: 1;
}
.intro{
    height: 100vh;
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(rgba(6, 31, 54, 0.904),  rgba(3, 85, 81, 0.945));
    background-size: cover ;
}
.intro-img-container, .intro-text-container {
    padding: 10px 40px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.intro-text-container{
    padding: 10px 30px 10px 20px;
    flex-direction: column;
}
.intro-h1{
    font-family: var(--font-family-secundary);
    font-size: 5.5em;
    font-weight: 600;
}
#intro-h1-color{
    color: var(--color-tertiary);
}
.intro-h2{
    text-align: left;
    padding: 0px 0px 15px 0;
    font-size: 1.2em;
    font-weight: 500;
}
.intro-p{
padding-right: 100px;
}
.intro-btn{
    padding: 15px 20px 15px 20px;
    font-family: var(--font-family-secundary);
    font-size: 1.4em;
    font-weight: 400;
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.24);
    background-color: var(--color-primary);
    color: var(--font-color-primary);
}

/*=== objectives ===*/
.objs{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.obj-h1{
    font-size: 3em;
    padding: 35px;
    color: var(--color-secundary);
}
.cards{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    height: 37vh;
    padding: 30px 30px 70px 30px;
    margin: 40px 40px 80px 40px;
    color: var(--color-primary);
    background-color: var(--color-secundary);
    border-radius: 24px;
}

.card img{
    width: 20vw;
    height: 250px;
    object-fit: cover;
    border-radius: inherit;
    margin-top: -70px;
    margin-bottom: 30px;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.185);
}

.card-text h2{
    font-size: 1.5em;
    margin-bottom: 15px;
}
.card-text p{
    font-size: 0.9em;
}

/*=== objectives ===*/
